/3.js
/bai1.html
/bai2.html
/buoi3.html
/buoi3.js
/buoi6.html
/doituong.html
/doituong.js
/dom.html
/dom.js
/for.html
/ham.html
/kiemtra.html
/lap.html
/lap.js
/mang.html
/object.html
/test.html
/test11.html